################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RescueNeeds.Service/bin
/RescueNeeds.Service/obj
/RescueNeeds/obj
/RescueNeeds/bin
/packages
/.vs/config/applicationhost.config
/.vs/RescueNeeds/v15/.suo
/.vs/RescueNeeds/v15/Server/sqlite3/db.lock
/.vs/RescueNeeds/v15/Server/sqlite3/storage.ide
/.vs/RescueNeeds/v15/Server/sqlite3/storage.ide-shm
/.vs/RescueNeeds/v15/Server/sqlite3/storage.ide-wal
