
@{
    ViewBag.Title = "Contact";
}


<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i> Contact
    </div>
    <div class="card-body">
     
    </div>
</div>


<!-- Icon Cards-->

