
@{
    ViewBag.Title = "Disclaimer";
}



<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i> Disclaimer
    </div>
    <div class="card-body">
        <p>
            This portal has been developed for effective collaboration between various stakeholders such as citizen, Government authorities, various NGOs and volunteers. We makes no representation regarding the completeness, accuracy of any information and data contained on this portal or that such information and data will be error-free. Stakeholders are trying to make their best effort to support, any information received through the portal the requests received through this portal doesn’t warrant any commitment on the services. By using this site you acknowledge that you have read and agree to this
        </p>
    </div>
</div>

